body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

.legend {
  position: absolute;
  left: 1080px;
  width: 150px;
  height: 200px;
  top: 5px;
  bottom: 410px;
  padding: 30px;
  font-size: 28px;
  font-style: "bold";
  background-color: #ced6e2;
  z-index: 2000;
  border: 1px solid #999
}
#monday {
  font-size: 12px;
}
#tuesday{
  font-size: 12px;
}
#wednesday{
  font-size: 12px;
}
#thursday{
  font-size: 12px;
}
#friday{
  font-size: 12px;
}

#mon{
  /*position: relative;*/
  display: inline-block;
  float: left;
  background-color:green;
  width: 11%;
  height: 10%;
  margin: -26px;
  margin-right: 137px;
  /*margin-top: 25%;*/
  padding: 5px 5px 5px 5px;
  border: 1px solid #999
}

#tue{
  /*position: relative;*/
  display: inline-block;
  float: left;
  background-color:blue;
  width: 11%;
  height: 10%;
  margin: -26px;
  margin-right: 137px;
  /*margin-top: 25%;*/
  padding: 5px 5px 5px 5px;
  border: 1px solid #999
}

#wed{
  /*position: relative;*/
  display: inline-block;
  float: left;
  background-color:purple;
  width: 11%;
  height: 10%;
  margin: -26px;
  margin-right: 120px;
  /*margin-top: 25%;*/
  padding: 5px 5px 5px 5px;
  border: 1px solid #999
}

#thu{
  /*position: relative;*/
  display: inline-block;
  float: left;
  background-color:yellow;
  width: 11%;
  height: 10%;
  margin: -26px;
  margin-right: 120px;
  /*margin-top: 25%;*/
  padding: 5px 5px 5px 5px;
  border: 1px solid #999
}

#fri{
  /*position: relative;*/
  display: inline-block;
  float: left;
  background-color:red;
  width: 11%;
  height: 10%;
  margin: -26px;
  margin-right: 120px;
  /*margin-top: 25%;*/
  padding: 5px 5px 5px 5px;
  border: 1px solid #999
}


/*+    display: block;
 +    float: left;
 +    height: 16px;
 +    width: 30px;
 +    margin-right: 5px;
 +    margin-left: 0;
 +
